* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}
body{
  display: flex;
}
.box,
.box1 {
  /* margin: auto; */
  border: 16px solid rgb(232, 232, 232);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  animation: spin 2s infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.box1 {
  animation: spin1 2s infinite;
    border-top: 16px solid #db3434;

}
@keyframes spin1 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
