@import "color.css";
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#container {
  width: 80%;
  background-color: lightgreen;
  margin: 10px auto 0px auto;
  padding: 10px 20px;
  border-radius: 10px;
}
.heading {
  text-align: center;
}
.input-div {
  width: 150px;
  display: inline-block;
  padding: 20px;
}
