* {
  margin: 0px;
  padding: 0px;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#520852, #444, #df4adf);
}
.main {
  background: linear-gradient( #df4adf, #520852);
  border: 1px solid black;
  height: 50vh;
  width: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh;
  gap: 10vh;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
.on,
.off {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background: rgb(31, 115, 31);
  color: #fff;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}
.off {
  background-color: rgb(218, 38, 38);
}

.on:hover,.off:hover {
  transform: translateY(-5px);
}

img{
    width: 20vh;

}