.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: lightcoral;
    color: black;
  }
  
  .nav-logo {
    font-size: 1.5rem;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .nav-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .nav-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
  }
  
  @media (max-width: 500px) {
    .nav-links {
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #333;
      flex-direction: column;
      width: 100%;
      max-height: 0;
      overflow: hidden;
      transition:  0.3s ease-in-out;
    }
  
    .nav-links.open {
      max-height: 200px; /* Adjust according to number of links */
    }
  
    .nav-toggle {
      display: flex;
    }
  }