.header {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 5px 0px;
  background: linear-gradient(teal, white);
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input {
  display: block;
}

/* !====================================== */
/* body {
    background: rgb(50, 38, 38);
  } */
.books {
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #520852;
}
.card {
  border-radius: 10px;
  /* border: 2px solid rgb(92, 89, 89); */
  margin: 10px;
  /* height: 55vh; */
  width: 38vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ec7ec0;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  /* --- */
}
.card:hover {
  transform: scale(1.01);
  /* filter: brightness(1.3); */
}
.name {
  /* border: 1px solid black; */
  height: 10vh;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
}
.image {
  /* border: 1px solid black; */
  height: 30vh;
  width: 90%;
  overflow: hidden;
}
img {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: 0.5s all ease-in-out;
}
img:hover {
  opacity: 0.8;
  transform: scale(1.1);
  cursor: pointer;
}
.year {
  /* border: 1px solid black; */
  height: 7vh;
  font-size: 23px;
  font-weight: bold;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
}
.year1 {
  /* border: 1px solid black; */
  /* height: 5vh; */
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(251, 255, 0);
}
.a {
  color: #6c2b52;
}
.b {
  color: #4a4fdf;
}
.c {
  color: #8e03d8;
}
.buttons {
  padding: 10px;
}
.buttons1,
.buttons2 {
  width: 10vh;
  height: 5vh;
  border-radius: 10px;
  border: none;
  margin: 5px;
  transition: 0.5s;
}
.buttons1 {
  background-color: green;
  color: white;
}
.buttons1:hover {
  transform: translateY(-5px);
}
.buttons2:hover {
  transform: translateY(-5px);
}
.buttons2 {
  background-color: red;
  color: white;
}
