.card-women {
    background-image: url("women.jpg");
    background-size: cover;
    opacity: 0.5;
}
.card-men {
    background-image: url("men.jpeg");
    background-size: cover;
    opacity: 0.5;
}
.card-kids {
    background-image: url("kids.jpeg");
    background-size: cover;
    opacity: 0.5;
}
main{
    height: 400px;
}
.card-men:hover {
    opacity:1;
}
.card-women:hover {
    opacity: 1;
}
.card-kids:hover {
    opacity: 1;
}
