* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background: linear-gradient(rgb(245, 113, 245), white);
}
.main {
  height: 100%;
  width: 100%;
  position: relative;
  /* color: lightseagreen; */
}
.container {
  /* border: 1px solid black; */
  /* background-color: aqua; */
  height: calc(100% - 100px);
  width: 100%;
  display: flex;
  gap: 5vh;
}
.logo-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.box {
  border: 1px solid none;
  height: 50vh;
  width: 70%;
}
.Logo-flot {
  height: 100px;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;

}
.Logo-flot h1 {
  text-align: center;
  font-size: 8vh;
  font-weight: bold;
  color: rgb(44, 135, 174);
  text-shadow: 1px 1px 5px rgb(44, 135, 174);
}
img {
  box-shadow: 10px px 5px black;
}

.login-container {
  /* border: 1px solid black; */
  width: 45%;
  height: 100%;
  /* background-color: aqua; */
  border: 1px solid none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 2vh;
}

.form-container {
  /* border: 4px solid rgb(186, 185, 185); */
  box-shadow: 1px 1px 5px rgb(186, 185, 185);
  display: flex;
  flex-direction: column;
  width: 40vh;
  height: 60%;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
.form-container .logo {
  height: 20vh;
  width: 30vh;
  /* border: 1px solid black; */
}
.form-container .logo img {
  height: 100%;
  width: 100%;
}

input {
  display: block;
  height: 5vh;
  width: 30vh;
  border: none;
  border-radius: 1vh;
}
button {
  height: 5vh;
  background-color: #0866ff;
  border: none;
  border-radius: 1vh;
  color: white;
  font-size: 2vh;
}
form {
  text-align: center;
  gap: 1vh;
  display: flex;
  flex-direction: column;
}
.sign-up {
  /* border: 1px solid rgb(186, 185, 185); */
  box-shadow: 1px 1px 5px rgb(186, 185, 185);

  height: 6vh;
  width: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-up a {
  color: #0866ff;
}
.log-fb {
  font-size: 1.8vh;
  color: #0866ff;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .container {
    /* border: 1px solid black; */
    /* background-color: aqua; */
    height: calc(100% - 60px);
    width: 100%;
    display: block;
    gap: 5vh;
  }
  .logo-container {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-container {
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    border: 1px solid none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
  }
  .form-container {
    border: 4px solid rgb(186, 185, 185);
    box-shadow: 1px 1px 5px rgb(186, 185, 185);
    display: flex;
    flex-direction: column;
    width: 40vh;
    height: 80%;
    justify-content: center;
    align-items: center;
    gap: 2vh;
  }
  .sign-up {
    /* border: 1px solid rgb(186, 185, 185); */
    box-shadow: 1px 1px 5px rgb(186, 185, 185);
    height: 6vh;
    width: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* !============ ANIMATION========== */

body {
  animation: fadeInAnimation 3s;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* !======================= */
img {
  animation: fadeInUp 2s;
}
@keyframes fadeInUp {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* !================ */

h1 {
  animation: fadeInUp 1s;
}
@keyframes fadeInUp {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}