.header {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 5px 0px;
  background: linear-gradient(teal, white);
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input {
  display: block;
}

/* !====================================== */
/* body {
  background: rgb(50, 38, 38);
} */
.main {
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
}
.card {
  border: 2px solid rgb(92, 89, 89);
  margin: 10px;
  height: 55vh;
  width: 32vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #703d62;
  /* --- */
}
.card:hover {
  transform: scale(1.015);
  filter: brightness(1.3);
}
.name {
  /* border: 1px solid black; */
  /* height: 10vh; */
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  font-size: 15vh;
}
.image {
  /* border: 1px solid black; */
  height: 35vh;
  width: 90%;
  overflow: hidden;
}
img {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: 0.5s all ease-in-out;
}
img:hover {
  opacity: 0.8;
  transform: scale(1.1);
  cursor: pointer;
}
.year {
  /* border: 1px solid black; */
  height: 10vh;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
}
