.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(lightgreen, lightblue);
  color: black;
}

.nav-logo {
  font-size: 2rem;
}

ul {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: rgb(34, 33, 33);
  text-decoration: none;
  font-size: 1.2rem;
  font-family: sans-serif;
}
ul {
  list-style-type: none;
  display: flex;
}

.nav-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.nav-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

@media (max-width: 500px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: linear-gradient(lightgreen, lightblue);
    flex-direction: column;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    display: flex;
  }

  .nav-links.open {
    max-height: 300px; /* Adjust according to number of links */
  }
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }

  .nav-toggle {
    display: flex;
  }
}
