* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/*
.box {
  height: 18rem;
  width: 18rem;
  background-image: radial-gradient(white, red, black);
  animation-name: run;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes run {
  0% {
    position: relative;
    top: 0px;
    left: 0px;
  }
  25% {
    position: relative;
    top: 0px;
    left: 400px;
    width: 28rem;
    border-radius: 0%;
    background-image: radial-gradient(red, yellow, blue);
  }
  50% {
    position: relative;
    top: 400px;
    left: 400px;
    width: 28rem;
    border-radius: 50%;
    background-image: radial-gradient(green, white, orange);
  }
  75% {
    position: relative;
    top: 400px;
    left: 0px;
    border-radius: 50%;
    background-image: radial-gradient(aqua, orange, yellow);
  }
  100% {
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 0%;
    background-image: radial-gradient(tomato, chocolate, black);
  }
} */

.box,
.box1,
.box2 {
  height: 30rem;
  width: 30rem;
  border: none;
  margin: 5rem auto;

  /* ------------- */
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  animation-name: fan;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.box1 {
  border-radius: 100% 0;
  background-image: linear-gradient(to bottom right, yellow 50%, red 50%);
}

.box2 {
  border-radius: 0 100%;
  background-image: linear-gradient(to bottom left, green 50%, blue 50%);
}

.circle {
  border-radius: 50%;
  background-color: white;
  height: 10rem;
  width: 10rem;
}

@keyframes fan {
  50% {
    /* transform: rotate(360deg); */
    transform: rotate(5turn);
    /* transform: rotateX(180deg); */
    /* transform: rotateY(180deg); */
    /* transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg); */
    /* transform: scale(1.1); */
  }
}
