.para {
  border: 8px double red;
  border-radius: 1rem;
}
.para2 {
  border-left: 0.5rem double red;
  border-right: 0.5rem dashed lawngreen;
  border-top: 0.5rem double blue;
  border-bottom: 0.5rem dotted green;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  border-bottom-left-radius: 5rem;
  border-top-right-radius: 5rem;
  text-align: justify;
  /* left(default) / left / right / center / justify */
  text-decoration: none;
  /* text-decoration : */
  text-transform: none;
  /* lowercase / uppercase / capitalize*/
  text-indent: none;
  /* To give patragraph space*/
}
.headline {
  text-align: center;
  font-size: 2rem;
  text-shadow: 0.3rem 0.3rem 0.3rem red;
  /* text-shadow: h-shadow v-shadow blur-radius color|none|initial|inherit */
  font-family: "Courier New", Courier, monospace;
}
.para3 {
  margin-top: 3rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.4rem;
  font-weight: bolder;
  border: 0.3rem solid green;
}
