h1 {
  border: 1px solid none;
  text-align: center;
  color: red;
  background-color: yellow;
  padding: 10px;
}
h2 {
  color: #0ac519;
  background-color: antiquewhite;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.hexa {
  color: #d8ccca;
  background-color: #070a07;
  text-align: center;
}
.decimal {
  color: rgb(254, 255, 254);
  background-color: rgb(170, 2, 2);
  text-align: center;
}
.hello {
  display: flex;
  justify-content: center;
}
body{
    background-image: url(../IMAGES/M1.jpg);
    background-repeat:no-repeat;
    background-size:contain;
    /*
    repeat (default) : repeating the background img
    no-repeat : to display single img on background
    repeat-x : Background img are display in x-axis (horizontal way)
    repeat-y: Background img are display in y-axis (vertical  way)
    */
}
