.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  text-align: center;

}
form {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 3px 2px 2px gray;
  animation: fadeInUp 3s;
  height: 35vh;
  width: 40vh;
  background-color: rgb(91, 132, 132);
  color: azure;
  
}
.lobin{
  margin-right: 10px;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
