* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

body h1 {
  color: #1877f2;
  padding: 1vh;
  font-size: 5vh;
}

.login-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 40vh;
  width: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: black;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  height: 25vh;
  width: 25vh;
}

.login-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
button {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #1877f2;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #166fe5;
}

.forgot-password {
  text-align: center;
  color: #1877f2;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}
